<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<div *ngIf = "identity"  class="navigation col-lg-1" >
  <h1 class="head-title">
    <a [routerLink]="['/']">
      <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
      <h3>
        {{title}}
      </h3>
    </a>
  </h1>
  <nav id="navigation">
    <a href="#">
      <span class="glyphicon glyphicon-search" aria-hidden="true">
        Buscar
      </span>
    </a>

    <a [routerLink]="['/artistas',1]"  [routerLinkActive]="['actived']">
      <span class="glyphicon glyphicon-star" aria-hidden="true">
        Artistas
      </span>
    </a>
    <a href="#">
      <span class="glyphicon glyphicon-book" aria-hidden="true">
        Albunes
      </span>
    </a>
  </nav>

  <nav id="user_logged">
    <div class="user-image" >
      <img id='image-logged' src="{{url +'get-image-user/'+identity.image}}" style="width: 50px;"/>
    </div>

    <span id='identity_name'>
      {{identity.name}}
      
    </span>

    <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      Mis datos
    </a>

    <a (click)='logOut()' class="btn-logout">
      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
      Salir
    </a>
      
  </nav>
</div>


<div *ngIf="identity" class="central col-lg-11">

  <router-outlet></router-outlet>
</div>

<div class="col-lg-11" class="derecho" *ngIf="!identity" >
  <div  class="col-lg-6">
    <h1>Identifícate</h1>
    <div *ngIf="errorMessage">
      <div class="alert alert-info">
        <strong>Info!</strong> {{errorMessage}}
      </div>
    </div>

    <form #loginForm ="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">
      <p>
        <label for="">Correo electronnico</label>
        <input type="email"  #email = 'ngModel' name="email" [(ngModel)]="user.email" class="form-control" required>
        <span *ngIf="!email.valid && email.touched">
          El correo es obligatorio
        </span>
      </p>

      <p>
        <label for="">Contraseña</label>
        <input type="password" #password = 'ngModel' name="password" [(ngModel)]="user.password" class="form-control" required>
      </p>

      <input type="submit" value="Ingresar" class="btn btn-primary">
    </form>
  </div>

  <div  class="col-lg-6">
    <h1>Registrate</h1>
    <div *ngIf="alertRegister ">
      <div class="alert alert-info">
        {{alertRegister}}
      </div>
    </div>

    <form #registerForm= 'ngForm' (ngSubmit)="onSubmitRegister()" class="col-md-10">
        <p>
          <label for="">Nombre</label>
          <input type="text" #name= 'ngModel' name = 'name' [(ngModel)] = "user_register.name" class="form-control">
          <span *ngIf='!name.valid && name.touched'>
            El nombre es obligatorio
          </span>
        </p>
  
        <p>
          <label for="">Apellido</label>
          <input type="text" #surname= 'ngModel' name = 'surname' [(ngModel)] = "user_register.surname" class="form-control">
          <span *ngIf='!surname.valid && surname.touched'>
            El apellido es obligatorio
          </span>
        </p>

        <p>
            <label for="">Correo</label>
            <input type="email" #email= 'ngModel' name = 'email' [(ngModel)] = "user_register.email" class="form-control">
            <span *ngIf='!name.valid && name.touched'>
            El email es obligatorio
            </span>
          </p>
    
          <p>
            <label for="">Contraseña</label>
            <input type="password" #password= 'ngModel' name = 'password' [(ngModel)] = "user_register.password" class="form-control">
            <span *ngIf=' !password.valid && password.touched'>
            El contraseña es obligatorio
            </span>
          </p> 

          <input type="submit" value="Registrarse" class="btn btn-primary">
      </form>
      
    </div>
</div>

